.mr-header {
    padding: 10px 0;
    background: #2e7c31;
    text-align: center;
}

.mr-header-title {
    font-weight: 400;
    margin: 0;
    color: white;
}

.mr-title {
    padding-left: 5%;
    padding-right: 5%;
}

.mr-title-text {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid #dedede;
}

.mr-book-list-content {
    padding: 0 0 80px;
    flex: 1;
}

.mr-book-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mr-book {
    height: 193px;
    width: 128px;
    padding: 10px 15px;
    text-align: left;
}

.mr-book-image {
    height: 193px;
    width: 128px;
    background: aquamarine;
}

.mr-book-title {
    padding: 4px;
    font-size: small;
    font-weight: bold;
}

.mr-book-author {
    padding: 4px;
    font-size: small;
    font-weight: lighter;
}